@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 2fr 1fr;
    color: white;
}

.grid-nav {
    display: grid;
    column-gap: 30px;
    grid-template-columns: 100px 0.5fr;
    padding: 0 50px;
    font-family: 'Rubik Beastly', cursive;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.social-media a {
    color: white;
    font-size: 1.5em;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 1.5em;
}

.nav-menu li {
    margin: 10px;
}

.nav-menu li a {
    text-decoration: none;
    color: white;
}

main {
    background-image: url("/images/background.jpg");
    height: 500px;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

main .text {
    pointer-events: none;
}

.tectonic:hover {
    text-decoration: underline;
    color: #ff0078;
    transform: scale(1.5);
}

.tectonic:hover .new {
    transform: translateX(50px);

}


main .new {
    font-family: 'Roboto', sans-serif;
    font-variant: small-caps;
    margin-bottom: 40px;
    border-bottom: 2px solid #ff0078;
    display: inline-block;
    font-weight: bolder;
    letter-spacing: 4px;
    
}

main .tectonic {
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Permanent Marker', cursive;
    pointer-events: auto;
}



main .long {
    margin: 20px 0;
    font-size: 16px;
}

main button {
    background-color: #ff0078;
    border: none;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    border-radius: 30px;
    letter-spacing: 2px;
    font-size: x-small;
    pointer-events: auto;
}


main button:hover {
    color: #ff0078;
    background-color: white;
    border: 1px solid #ff0078;
}

footer {
    display: flex;
    margin: 50px 0;
    width: 80%;

}

section {
    text-align: center;
}

section i {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background: #ff0078;
    text-align: center;
    font-size: 32px;
    padding: 20px;
}

section .fa-user {
    background: rgb(246, 240, 52);
}

section .fa-video {
    background: rgb(126, 210, 42);
}

section p {
    margin: 20px;

}
