@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    grid-auto-flow: row;
    width: 95%;
    background-color: #D2E8E3;
    padding: 0 50px;
    row-gap: 1rem;
    column-gap: 3rem;
}

.grid img {
    object-fit: cover;
    height: 90%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

h1 {
    display: flex;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.images {
    position: relative;
}

label.job {
    position: absolute;
    right: 0;
    right: -26px;
    writing-mode: vertical-lr;
}


@media (min-width: 1400px) {
    .grid {
        grid-template-rows: repeat(4, 150px);
        grid-template-columns: repeat(14, minmax(50px, 80px));
        
    }

    h1 {
        grid-column: 3 / span 4;
        grid-row: 1 / span 1;
    }

    .text {
        grid-column: 10 / span 4;
        grid-row: 1 / span 1;
    }

    .image-1 {
        grid-column: 2 / span 2;
        grid-row: 2 / span 2;
    }

    .image-2 {
        grid-column: 4 / span 2;
        grid-row: 3 / span 2;
    }

    .image-3 {
        grid-column: 6 / span 2;
        grid-row: 2 / span 2;
    }

    .image-4 {
        grid-column: 8 / span 2;
        grid-row: 3 / span 2;
    }

    .image-5 {
        grid-column: 10 / span 2;
        grid-row: 2 / span 2;
    }

    .image-6 {
        grid-column: 12 / span 2;
        grid-row: 3 / span 2;
    }
}

@media (max-width: 1399px) { /*only screen and */

    .grid {
        grid-template-rows: repeat(7, 250px);
        grid-template-columns: repeat(3, minmax(0, 1fr));
        padding-top: 20px;  /* didnt work somehow */
        
    }

    h1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .text {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;
    }

    .image-1 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 2;
    }

    .image-2 {
        grid-column: 2 / span 1;
        grid-row: 3 / span 2;
    }

    .image-3 {
        grid-column: 3 / span 1;
        grid-row: 2 / span 2;
    }

    .image-4 {
        grid-column: 1 / span 1;
        grid-row: 4 / span 2;
    }

    .image-5 {
        grid-column: 2 / span 1;
        grid-row: 5 / span 2;
    }

    .image-6 {
        grid-column: 3 / span 1;
        grid-row: 4 / span 2;
    }

}

@media (max-width:800px) { 

    .grid {
        grid-template-rows: repeat(8, 250px);
        grid-template-columns: repeat(2, minmax(250px, 1fr)); /* 300px min width: doesnt take;*/
        padding-top: 20px;  /* didnt work either */
        row-gap: 50px;
    }

    h1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .text {
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
    }

    .image-1 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 2;
    }

    .image-2 {
        grid-column: 2 / span 1;
        grid-row: 3 / span 2;
    }

    .image-3 {
        grid-column: 1 / span 1;
        grid-row: 4 / span 2;
    }

    .image-4 {
        grid-column: 2 / span 1;
        grid-row: 5 / span 2;
    }

    .image-5 {
        grid-column: 1 / span 1;
        grid-row: 6 / span 2;
    }

    .image-6 {
        grid-column: 2 / span 1;
        grid-row: 7 / span 2;
    }

}